[Unit]
Description=Countdown Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/Documents/GitHub/ty-countdown/ty-countdown-api/ty-countdown.jar

[Install]
WantedBy=multi-user.target